<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377621388940-n73d7rlf0tgeq1ksu17qfkbq3j9j7sjr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377621388940-n73d7rlf0tgeq1ksu17qfkbq3j9j7sjr</string>
	<key>API_KEY</key>
	<string>AIzaSyAv3koaQSAlgfNqGpJrKjGgtl2bjYDRy3w</string>
	<key>GCM_SENDER_ID</key>
	<string>377621388940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.myshopping</string>
	<key>PROJECT_ID</key>
	<string>myshopping-ff8bd</string>
	<key>STORAGE_BUCKET</key>
	<string>myshopping-ff8bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377621388940:ios:83d597b15871e6fd12e5a9</string>
</dict>
</plist>